@page
@model ContratosModel
@{
    ViewData["Title"] = "Contratos";
}

@using Data.Entities

&ensp;

<div class="text-center">
    <h1 class="display-4">Contratos y Pagos</h1>
</div>

<table class="table">

    <tr>
        <td>N°</td>
        <td>Empleado</td>
        <td>Fecha de Inicio</td>
        <td>Fecha de término</td>
        <td>Sueldo</td>
        <td>Valor horas extras</td>
    </tr>

    @{int i = 1;}
    @foreach (Contrato contrato in Model.contratos)
    {
        <tr>
            <td>@i</td>
            <td>@(Model.personas.Find(p => p.Id == contrato.IdPersona).Nombres) @(Model.personas.Find(p => p.Id == contrato.IdPersona).Apellidos)</td>
            <td>@contrato.FechaInicio.ToString("dd/MM/yyyy")</td>
            <td>@contrato.FechaTermino.ToString("dd/MM/yyyy")</td>
            <td>$@contrato.Sueldo</td>
            <td>$@contrato.ValorHoraExtra</td>
        </tr>
        i++;
    }
</table>