@page
@model DetailsModel
@using SistemaMantencion.Data.Entities;

@{
    ViewData["Title"] = "Detalle de Mantencion";
}

<div class="card">
    <div class="card-header">
        <div class="text-center">
            <h1 class="display-4">Mantencion</h1>
        </div>
    </div>
    <div class="card-body">
        <p><b>Fecha: </b>@Model.Mantencion.Fecha.ToShortDateString()</p>
        <p><b>Observaciones: </b>@Model.Mantencion.Observaciones </p>
        <hr>
        <h4>Datos del vehículo</h4>
        &nbsp
        <p><b>Patente de Vehículo: </b>@Model.Mantencion.Vehiculo.Patente</p>
        <p><b>Marca: </b>@Model.Mantencion.Vehiculo.Marca</p>
        <p><b>Modelo: </b>@Model.Mantencion.Vehiculo.Modelo</p>
        <p><b>Kilometraje: </b>@Model.Mantencion.Vehiculo.Kilometraje</p>
        <p><b>Año: </b>@Model.Mantencion.Vehiculo.Anho</p>
        <hr>
        &nbsp
        <br>

        <h4>Materiales utilizados</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Material</th>
                    <th scope="col">Cantidad Usada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MantencionMaterial mantencionProducto in Model.ListaMantencionMateriales)
                {
                <tr>
                    <td>@mantencionProducto.Material.Nombre</td>
                    <td>@mantencionProducto.Cantidad</td>
                </tr>
                }
            </tbody>
        </table>
        &nbsp
        <h4>Tecnicos involucrados</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Horas Trabajadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MantencionTecnico mantencionEmpleado in Model.ListaMantencionTecnicos)
                {
                <tr>
                    <th scope="row">@mantencionEmpleado.Tecnico.Rut</th>
                    <td>@mantencionEmpleado.Tecnico.Nombre</td>
                    <td>@mantencionEmpleado.Horas hrs</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-header">
        <a asp-page="./Index">Volver</a>
    </div>
</div>